/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 0px) and (max-width: 250px) {
    .card {
        width: 5em;
    }

    .card-large{
        width: 7em !important;
    }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 250px) and (max-width: 767px) {
    .card {
        width: 5em;
    }

    .card-large{
        width: 7em !important;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px){
    .card {
        width: 10em;
    }

    .card-large{
        width: 10em !important;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1023px){
    .card {
        width: 10em;
    }

    .card-large{
        width: 10em !important;
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1279px){
    .card {
        width: 11em;
    }

    .card-large{
        width: 11em !important;
    }
}


/*!* Medium devices (landscape tablets, 768px and up) *!*/
/*@media only screen and (min-width: 768px) {}*/

/*!* Large devices (laptops/desktops, 992px and up) *!*/
/*@media only screen and (min-width: 992px) {}*/

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1280px) and (max-width: 1439px) {
    .card {
        width: 14em;
    }

    .card-large{
        width: 16em !important;
    }
}
@media only screen and (min-width: 1440px) {
    .card {
        width: 18em;
    }

    .card-large{
        width: 20em !important;
    }
}