/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 250px) and (max-width: 767px) {
    .card {
        width: auto;
    }

    .card-large{
        width: auto;
    }
    section{
        flex-direction: column-reverse;
    }
    .lot1, .lot2 {
        flex-direction: column;
    }
    #monument{
        flex-direction: column;
        width: 100%;
    }
    #infos{
        flex-direction: column;
    }
    .btn-group{
        font-size: xxx-large;
        display: flex;
        align-items: center;
    }
    .mag1{
        border-radius: 10px 0px 0px 10px;
        height: 100px;
    }
    .mag2{
        border-radius: 0px 0px 0px 0px;
        height: 95px;
    }
    .mag2::placeholder{
        color: black;
        font-size: 0.7em;
        font-weight: bold;
    }
    .mag3{
        border-radius: 0px 10px 10px 0px;
        height: 100px;
    }
    .filtres{
        font-size: 2.4em;
        margin-bottom: 20px;
    }
    .button{
        font-size: 2em;
    } 
    .next{
        font-size: 0.8em;
    }

    .next1{
        margin-bottom: 40px;
    }
    .font-size1{
        font-size: 1.5em;
    }
    .font-size{
        font-size: 3em;
    }
    .font-size2{
        font-size: 2em;
    }
    h4,h3{
        font-size: 2.5em;
    }
    h5{
        font-size: 1em;
    }
    h1{
        font-size: 3.5em;
    }
   
    .espace4{
        margin-block-start: 25px;
    }
    header{
        margin-left: 20px;
    }
    .heberge{
        background-color: white;
    }
    .text{
        display: none;
    }
    .mobile-tabs{
        display: flex;
        justify-content: space-around;
        font-size: 2em;
    }
    .bouton1{
        display: flex;
        font-size: xx-large;
        text-align-last: center;
    }
    .bouton{
        display: none;
    }
    .sert1,.sert3{
        font-size: 30%;
    }
    .sert2{
        font-size: 70%;
    }
    .sert{
        font-size: 70%;
    }
    .bleu{
    color:#0065FC;
    border-bottom: 2px solid #0065FC;
    padding-bottom: 40px;
        width: 100%;
    }
   .grey{
    color: grey;
    border-bottom: 2px solid#F2F2F2;
    padding-bottom: 40px;
       width: 100%;
    }
    .client{
        margin-block-start: 10px;
        margin-right: 30px;
    }
    .a-propos, .nos-hebergements,.assistance{
        margin-left: 30px;
    }
    #villes{
        flex-direction: column;
    }
    .img{
        width: 100%;
    }
    #infos{
        line-height: 30px;
    }
    .Economique {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .logo{
      width: 60%;
    }
    .container{
        width: 600px;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 768px) and (max-width: 1024px){
    .card {
        width: auto;
    }
    .card-large{
        width: auto;
    }

    section{
        flex-direction: column-reverse;
    }
    .lot1, .lot2 {
        flex-direction: column;
    }
    #monument{
        flex-direction: column;
        width: 100%;
    }
    #infos{
        flex-direction: column;
    }
    .btn-group{
        font-size: 40px;
        height: 85px;
        align-items: center;
        display: flex;
        border-radius: 50px 50px 50px 50px;
        margin-right: 20px;
        padding-right: 30px;
    }
    .color-bleu-icon{
        width: 50px;
        font-size: 40px;
        padding: 24px;
        text-align: center;
        margin-right: 25px;
        border-radius: 80px;
    }
    .filtres{
        font-size: 2.4em;
        margin-bottom: 20px;
    }
    .button{
        font-size: 2em;
    }
    .next{
        font-size: 0.7em;
    }
    .fa-info{
        border: 2px solid #F2F2F2;
        height: 50px;
        width: 50px;
        text-align: center;
        border-radius: 30px;
        margin-left: 20px;

    }
    
    .next1{
        margin-bottom: 40px;
    }
    .font-size1{
        font-size: 1.5em;
    }
    .font-size{
        font-size: 3em;
    }
    .font-size2{
        font-size: 2em;
    }
    h4,h3{
        font-size: 2.5em;
    }
    h5{
        font-size: 0.8em;
    }
    h1{
        font-size: 3.5em;
    }
    .espace4{
        margin-block-start: 25px;
    }
    header{
        margin-left: 20px;
    }
    .margin1{
        margin-left: 30px;
    }
    .heberge{
        background-color: white;
    }
    .text{
        display: none;
    }
    .client{
        font-size: 1.5em;
        margin-block-start: 10px;
        margin-right: 30px;
    }
    .mobile-tabs{
        display: flex;
        justify-content: space-around;
        font-size: 2em;
        text-align: center;
    }
    .bouton1{
        display: flex;
        font-size: xx-large;
    }
    .bouton{
        display: none;
    }
    .sert1,.sert3{
        font-size: 30%;
    }
    .sert2{
        font-size: 100%;
    }
    .bleu{
        color: #0065FC;
        border-bottom:2px solid #0065FC;
        padding-bottom: 40px;
        width: 100%;
    }
    .grey{
        color: grey;
        border-bottom:2px solid #F2F2F2;
        padding-bottom: 40px;
        width: 100%;
    }
    .a-propos, .nos-hebergements,.assistance{
        margin-left: 30px;
    }
    #villes{
        flex-direction: column;
    }
    .fa-chart-line{
        margin-left: 10px;
    }
    
    .card-img {
        width: 100%;
        border-radius: 10px 10px 0 0;
    }
    .card-img1 {
        width: 100%;
        border-radius: 10px 0 0 10px;
    }
    .img{
        width: 100%;
        object-fit: cover;
        height: 300px;
    }
    .img20,.img10{
        width: 100%;
        object-fit: cover;
        height: 90px;
        padding-top: 30px;
    }
    .mag1{
        border-radius: 20px 0px 0px 20px;
        height: 100px;
        border-right: white;
        font-size: 4em;
        padding-right: 30px;
        padding-left: 30px;
        object-fit: cover;
    }
    .mag2{
        height: 95px;
        object-fit: cover;
        width: 100%;
    }
    .mag2::placeholder{
        color: black;
        font-size: 0.7em;
        font-weight:bold;
    }
    .mag3{
        border-radius: 20px 20px 20px 20px;
        height: 100px;
        font-size: 4em;
        object-fit: cover;
        width: 100%;
    }
    #infos{
        line-height: 30px;
    }
    .Economique{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .logo{
        width: 60%;
    }
    .container{
        width: 600px;
    }

}


@media only screen and (min-width: 1025px) and (max-width: 1359px){
    header{
        margin: 20px;
        
    }
    .margin1{
        margin-left: 50px;
    }
    .mobile-tabs{
        display:none;}
    .bouton1{
        display: none;
    }
    .sert1,.sert3{
        font-size: 50%;
    }
    .sert2{
        font-size: 70%;
    }
    .a-propos, .nos-hebergements,.assistance{
        margin-left: 30px;
        font-size: 1.2em;
    }
    .margin, .margin1{
        margin-left: 30px;
    }
    h4,p{
        font-size: 1.5em;
    }
    .espace{
        font-size: 1.5em;
    }
    .fa-chart-line{
        font-size: x-large;
        margin-left: 10px;
    }
    .btn-group{
        display: flex;
        border: 2px solid #F2F2F2;
        border-radius: 30px 30px 30px 30px;
        font-weight: bolder;
        font-size: 1.2em;
        padding: 6px;
        padding-left: 0;
        margin: 10px;
        padding-right: 15px;
    }  
    .color-bleu-icon{
        border-radius: 20px;
        background-color: #DEEBFF;
        margin-right: 10px;
        padding:8px;
        width: 30px;
        text-align: center;
    }
    .next{
        font-size: 1em;
    }
    .fa-info{
        color: #0065FC;
        background-color: white;
        height: 20px;
        width: 20px;
        border: 3px solid #F2F2F2;
        border-radius: 20px;
        text-align: center;
    }

}


@media only screen and (min-width: 1360px) and (max-width:1819px){
    .mobile-tabs{
        display: none;
    }
    .bouton1{
        display: none;
    }
    h4,p{
        font-size: 1.0em;
    }
    .espace{
        font-size: 1.5em;
    }
    .fa-chart-line{
        font-size: x-large;
    }
    .btn-group{
        border: 2px solid #F2F2F2;
        border-radius: 30px 30px 30px 30px;
        font-weight: bolder;
        font-size: 1.2em;
        padding: 6px;
        padding-left: 0;
        margin: 10px;
        padding-right: 15px;
    }  
    .color-bleu-icon{
        border-radius: 20px;
        background-color: #DEEBFF;
        margin-right: 10px;
        padding:8px;
        width: 30px;
        text-align: center;
    }

}


@media only screen and (min-width: 1820px) {
    .card {
        width: auto;
    }

    .card-large{
        width: auto;
    }
    .card-decale{
        width: auto;
    }
    .mobile-tabs{
        display: none;
    }
    .bouton1{
        display: none;
    }
    h4,p{
        font-size: 1.0em;
    }
    .espace{
        font-size: 1.5em;
    }
    .fa-chart-line{
        font-size: x-large;
    }
    .btn-group{
        border: 2px solid #F2F2F2;
        border-radius: 30px 30px 30px 30px;
        font-weight: bolder;
        font-size: 1.2em;
        padding: 6px;
        padding-left: 0;
        margin: 10px;
        padding-right: 15px;
    }  
    .color-bleu-icon{
        border-radius: 20px;
        background-color: #DEEBFF;
        margin-right: 10px;
        padding:8px;
        width: 30px;
        text-align: center;
    }

}