/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 250px) and (max-width: 767px) {
    .card {
        width: 90%;
        margin-left: 40px;
    }

    .card-large{
        width: 90% !important;
    }
    section{
        flex-direction: column-reverse;
    }
    .lot1, .lot2 {
        flex-direction: column;
    }
    #monument{
        flex-direction: column;
    }
    #infos{
        flex-direction: column;
    }
    .btn-group{
        padding-left: 80px;
        font-size: 2em;
        height: 80px;
    }
    .mag4{
        border-radius: 40px;
        height: 80px;
        width: 80px;
    }
    .mag1{
        border-radius: 10px 0px 0px 10px;
        height: 80px;
    }
    .mag2{
        border-radius: 0px 0px 0px 0px;
        height: 75px;
        padding-left: 100px;
    }
    .mag2::placeholder{
        color: black;
        font-size: 0.7em;
        font-weight: bold;
    }
    .mag3{
        border-radius: 0px 10px 10px 0px;
        height: 80px;
    }
    .filtres{
        font-size: 3em;
        margin-bottom: 20px;
    }
    .button{
        font-size: 2em;
    } 
    .next{
        border-radius: 20px;
        width: 30px;
        height: 30px;
    }

    .next1{
        font-size: 2em;
    }
    h2{
        font-size: 2.5em;
    }
    h4,h3,p{
        font-size: 1.6em;
    }
    h1{
        font-size: 3em;
    }
    .rating,.rating1{
        font-size: 1em;
    }
    header{
        margin-left: 20px;
    }
    .margin,.margin1{
        margin-left: 40px;
    }
    .heberge{
        background-color: white;
    }
    .text{
        display: none;
    }
    .mobile-tabs{
        display: flex;
        justify-content: space-around;
        font-size: 2em;
        margin-left: 100px;
    }
    .bouton1{
        display: flex;
        font-size: xx-large;
        text-align-last: center;
    }
    .bouton{
        display: none;
    }
    .sert1,.sert3{
        font-size: 30%;
    }
    .sert2{
        font-size: 70%;
    }
    .sert{
        font-size: 70%;
    }
    .bleu{
    color: blue;
    border-bottom: 2px solid #0065FC;
        width: 100%;
    }
   .grey{
    color: grey;
    border-bottom: 2px solid#F2F2F2;
       width: 100%;
    }
    .client{
        margin-left: 200px;
        margin-block-start: 50px;
    }
    .a-propos, .nos-hebergements,.assistance{
        margin-left: 30px;
    }
    #villes{
        flex-direction: column;
    }
    .fa-chart-line{
        margin-left: 600px;
    }
    .insert{
        margin-block-start: 75px;
        margin-left: -700px;
    }
    .insert1{
        margin-block-start: 150px;
        margin-left: -380px;
    }
    .insert2{
        margin-block-start: 75px;
    }
    .insert3{
        margin-block-start: 150px;
    }
    .Economique{
        margin-left: -5px;
    }
    .img{
        width: 90% !important;
    }
    .logo{
        object-fit: cover;
        width: 40%;
        height: 40px;
        margin-block-start: 70px;
    }
    #infos{
        line-height: 30px;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 768px) and (max-width: 1024px){
    .card {
        width: 90%;
        margin-left: 40px;
    }
    .card-large{
        width: 90% !important;
    
    }

    section{
        flex-direction: column-reverse;
    }
    .lot1, .lot2 {
        flex-direction: column;
    }
    #monument{
        flex-direction: column;
    }
    #infos{
        flex-direction: column;
    }
    .btn-group{
        padding-left: 80px;
        font-size: 2em;
        height: 80px;
        font-weight:bold;
    }
    .mag4{
        border-radius: 40px;
        height: 80px;
        width: 80px;
    }
    .filtres{
        font-size: 2em;
        margin-bottom: 20px;
    }
    .button{
        font-size: 2em;
    }
    .next{
        border-radius: 20px;
        width: 30px;
        height: 30px;
    }
    .next1{
        font-size: 2em;
    }
    h4,h3,p{
        font-size: 2em;
    }
    h2{
        font-size: 2.5em;
    }
    h1{
        font-size: 3em;
    }
    .rating,.rating1{
        font-size: 1em;
    }
    header{
        margin-left: 20px;
    }
    .margin,.margin1{
        margin-left: 40px;
    }
    .heberge{
        background-color: white;
    }
    .text{
        display: none;
    }
    .client{
        margin-left: 200px;
        margin-block-start: 50px;
    }
    .mobile-tabs{
        display: flex;
        justify-content: space-around;
        font-size: 2em;
        text-align: center;
    }
    .bouton1{
        display: flex;
        font-size: xx-large;
    }
    .bouton{
        display: none;
    }
    .sert1,.sert3{
        font-size: 30%;
    }
    .sert2{
        font-size: 70%;
    }
    .sert{
        font-size: 70%;
    }
    .bleu{
        color: blue;
        border-bottom:2px solid #0065FC;
        width: 100%;
    }
    .grey{
        color: grey;
        border-bottom:2px solid #F2F2F2;
        width: 100%;
    }
    .a-propos, .nos-hebergements,.assistance{
        margin-left: 30px;
    }
    #villes{
        flex-direction: column;
    }
    .fa-chart-line{
        margin-left: 400px;
    }
    .insert{
        margin-block-start: 100px;
        margin-left: -735px;
    }
    .insert1{
        margin-block-start: 200px;
        margin-left: -400px;
    }
    .insert2{
        margin-block-start: 100px;
    }
    .insert3{
        margin-block-start: 200px;
    }
    .Economique{
        margin-left: -5px;
    }
    .card-img {
        width: 100%;
        border-radius: 10px 10px 0 0;
    }
    .card-img1 {
        width: 100%;
        border-radius: 10px 0 0 10px;
    }
    .img{
        width: 100% !important;
        object-fit: cover;
        height: 200px;
    }
    .img20,.img10{
        line-height: 3px;
        width: 100%;
        object-fit: cover;
        height: 90px;
        padding-top: 30px;
    }
    .mag1{
        border-radius: 20px 0px 0px 20px;
        height: 80px;
        border-right: white;
    }
    .mag2{
        border-radius: 0px 0px 0px 0px;
        height: 75px;
        width: 90%;
    }
    .mag2::placeholder{
        color: black;
        font-size: 0.7em;
        font-weight:bold;
    }
    .mag3{
        border-radius: 20px 20px 20px 20px;
        height: 80px;
    }
    .logo{
        object-fit: cover;
        width: 40%;
        height: 40px;
        margin-block-start: 70px;
    }
    #infos{
        line-height: 30px;
    }

}


@media only screen and (min-width: 1025px) and (max-width: 1359px){
    header{
        margin: 20px;
        
    }
    .margin1{
        margin-left: 50px;
    }
    .mobile-tabs{
        display:none;}
    .bouton1{
        display: none;
    }
    .sert1,.sert3{
        font-size: 50%;
    }
    .sert2{
        font-size: 70%;
    }
    #client{
        margin-left: 300px;
    }
    .a-propos, .nos-hebergements,.assistance{
        margin-left: 30px;
    }
    .fa-chart-line{
        margin-left: 100px;
    }
    .margin, .margin1{
        margin-left: 40px;
    }
    .Economique{
        margin-left: -5px;
    }
    .btn-group{
        padding-left: 20px;
        padding-right: 20px;
        font-size: 1.5em;
    }
}


@media only screen and (min-width: 1360px) and (max-width:1819px){
    .mobile-tabs{
        display: none;
    }
    #client{
        margin-left: 450px;
    }
    .bouton1{
        display: none;
    }
    .btn-group{
        padding-left: 30px;
        padding-right: 30px;
        font-size: 1.5em;
    }

}


@media only screen and (min-width: 1820px) {
    .card {
        width: 23em;
    }

    .card-large{
        width: 23em !important;
    }
    .card-decale{
        width: 26em;
    }
    #client{
        margin-left: 700px;
    }
    .mobile-tabs{
        display: none;
    }
    .bouton1{
        display: none;
    }

}