/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 250px) and (max-width: 767px) {
    .card {
        width: 90%;
        margin-left: 60px;
    }

    .card-large{
        width: 90% !important;
    }
    section{
        flex-direction: column-reverse;
    }
    .lot1, .lot2 {
        flex-direction: column;
    }
    #monument{
        flex-direction: column;
    }
    #infos{
        flex-direction: column;
    }
    /*.text{
        display: flex;
        align-items: flex-start;
        flex-wrap: column;
    }
    #client{
        flex-direction: column-reverse;
        margin-left: 100px;
    }*/
    .btn-group{
        font-size:2em ;
        margin-bottom: 20px;
        margin: 10px;
        padding-left: 20px;
    }
    .filtres{
        font-size: 2em;
    }
    .button{
        font-size: 2em;
    } 
    .next{
        border-radius: 20px;
        width: 30px;
        height: 30px;
    }

    .next1{
        font-size: 1.5em;
    }
    h2,h3,h4,p{
        font-size: 1.5em;
    }
    h1{
        font-size: 3em;
    }
    .rating,.rating1{
        font-size: 2em;
    }
    .logement{
        background-color: none;
    }
    header{
        margin-left: 20px;
    }
    .margin{
        margin-left: 70px;
    }
    .margin1{
        margin-left: 30px;
    }
    .herberge,.popu{
        background-color: white;
    }
    .text{
        margin-block-start: 200px;
        margin-right: 50px;
    }

      
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 768px) and (max-width: 1024px){
    .card {
        width: 90%;
        margin-left: 70px;
     
    }
    .card-large{
        width: 90% !important;
    
    }

    section{
        flex-direction: column-reverse;
    }
    .lot1, .lot2 {
        flex-direction: column;
    }
    #monument{
        flex-direction: column;
    }
    #infos{
        flex-direction: column;
    }
    /*#client{
        flex-direction: column-reverse;
        margin-left: 100px;
    }*/
    .btn-group{
        font-size: 2em;
        height: 40px;
        padding-left: 20px;
    }
    .filtres{
        font-size: 2em;
    }
    .button{
        font-size: 2em;
    }
    .Economique{
        margin: 10px;
    }
    .next{
        border-radius: 20px;
        width: 30px;
        height: 30px;
    }

    .next1{
        font-size: 1.5em;
    }
    h2,h3,h4,p{
        font-size: 1.5em;
    }
    h1{
        font-size: 3em;
    }
    .rating,.rating1{
        font-size: 2em;
    }
    .logement{
        background-color: none;
    }
    header{
        margin-left: 20px;
    }
    .margin{
        margin-left: 70px;
    }
    .margin1{
        margin-left: 30px;
    }
    .text{
        margin-block-start: 200px;
        margin-right:50px;
    }
   
}
@media only screen and (min-width: 1025px) and (max-width: 1359px){
    .card {
        width: 10em;
    }

    .card-large{
        width: 10em !important;
    }
    header{
        margin: 20px;
        
    }
    #client{
        margin-left: 170px;
    }
    .margin1{
        margin-left: 50px;
    }
    .herberge,.popu{
        background-color: white;
    }
}
@media only screen and (min-width: 1360px){
   
    


/*!* Medium devices (landscape tablets, 768px and up) *!*/
/*@media only screen and (min-width: 768px) {}*/

/*!* Large devices (laptops/desktops, 992px and up) *!*/
/*@media only screen and (min-width: 992px) {}*/

/* Extra large devices (large laptops and desktops, 1200px and up) */
/*@media only screen and (min-width: 1280px) and (max-width: 1439px) {
    .card {
        width: 14em;
    }

    .card-large{
        width: 16em !important;
    }

    .card-decale{
        width: 26em;
    }
}
@media only screen and (min-width: 1361px) {
    .card {
        width: 18em;
    }

    .card-large{
        width: 20em !important;
    }
}