.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 13em;

    background: white;
    border-radius: 10px;
    padding: 5px;
    margin: 15px;
    height: fit-content;
  }

  .card-large{
    width: 17em !important;
  }

  .card:hover , .card1:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }

  .card-img {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }
  .card-img1 {
    width: 90%;
    border-radius: 10px 0 0 10px;
  }

  .no-margin {
      margin: auto !important;
  }

  .rating{
    color: #0065FC;
    font-size: 1em;
 }
 .rating1{
   color: #F2F2F2;
 }
 .card-decale{
     display: flex;
     width: 25em;
 }