
#infos{
   display: flex;
    background-color:#F2F2F2;
    justify-content: space-around;
    font-size: 1.3em;
}
.heberge {
    width: auto;
    background-color: #F2F2F2;
}
.filtres{
    margin-right: 10px;
    font-size: 1.3em;
    margin-block-start: 5px;
}
.client{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    margin-right: 50px;
}
#client{
    display: flex;
    font-size: 1.3em;
}
#monument{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

section{
    display: flex;
    flex-direction: row;
    margin-right: auto;
    justify-content: space-evenly;
}
body{
    font-family: Raleway,trebuchet MS, sans-serif;
}
#villes{
    display: flex;
    margin: 30px;
}

.reservia{
    display: flex;
}
.logo-reservia{
    margin-left: 20px;
}
.next{
    border-radius: 20px;
    height: 30px;
    width: 30px;
    color: #0065FC;
    margin-left: 30px;
    background: white;
}
.next1{
    margin-bottom: 20px;
}
.btn-group{
    border-radius: 0px 50px 50px 0px;
    height: 40px;
    font-size: 1.3em;
    background: white;
    border-color: #F2F2F2;
    margin-right: 20px;
    padding: 5px;
    padding-left: 20px;
    outline:none;
}
.btn-group:hover{
    color: blue;
}
.button{
    font-size: 1.3em;
    border-color: #F2F2F2;
    background: white;
}
.bouton{
    display: flex;
}

.mag1{
    border-radius: 10px 0px 0px 10px;
    margin-left: 30px;
    background: #F2F2F2;
    height: 40px;
    outline:none;
    
}   
.mag2{
    border-radius: 0px 0px 0px 0px;
    height: 35px;
}
.mag3{
    border-radius: 0px 10px 10px 0px;
    height: 40px;
    outline:none;
}
.mag4{
    border:#DEEBFF;
    border-radius: 20px;
    height: 40px;
    width: 40px;
    margin-right: -20px;
    background-color: #DEEBFF;
}
.sert1{
    z-index: 0;
}
#populaires ,.popu {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
}
.lot1, .lot2 {
    display: flex;
    justify-content: space-around;
}
.margin-right-10 {
    margin-right: 10px;
    border-radius: 10px 10px 10px 10px;
}
.margin-left-10 {
    margin-left: 10px;
    border-radius: 10px 10px 10px 10px;
}
.margin {
    margin-left:15px; 
}
.margin1{
    margin-left: 30px;
}
h1, .PCV {
    margin-left: 30px;
}
h4,p{
    font-size: 1.0em;
}
header{
    margin-left: 20px;
}
.fa-chart-line{
    margin-left: 150px;
}
.color-bleu-icon{
color: #0065FC;
}
.color-bleu-icon1{
background: #0065FC;
}
.color{
    color: #0065FC;
}
.Economique{
    display: flex;
}
.PCV{
    color: grey;
}
.ancre{
    color: blue;
    border-top: 2px solid blue;
    text-decoration: none;
}
.ancre1{
    color: grey;
    text-decoration: none;
}
.ancre2{
    color: blue;
    text-decoration: none;
}


