
#infos{
   background-color:#F2F2F2;
   justify-content: space-around;
}
.filtres{
    margin-right: 10px;
}
.client{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    color:#0065FC;
    text-decoration: overline;
}
#client{
    display: flex;
    margin-left: 50px;
}
#monument{
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
#hebergement{
    display: flex;
    flex-direction: row;
}
section{
    display: flex;
    flex-direction: row;
    margin-right: auto;
    justify-content: space-around;
}
body{
    font-family: Raleway,trebuchet MS, sans-serif;
}
#villes{
    display: flex;
    margin: 30px;
}
.reservia{
    display: flex;
}
.logo-reservia{
    margin-left: 20px;
}
.next{
    border-radius: 10px 10px 10px 10px;
    color: #0065FC;
    margin-left: 30px;

}
.btn-group{
    border-radius: 10px 10px 10px 10px;
}
.button{
    border-radius: 10px 10px 10px 10px;
    margin-left: 30px;
}
#populaires ,.popu {
    background-color: #F2F2F2;
}
.margin-right-10 {
    margin-right: 10px;
    border-radius: 10px 10px 10px 10px;
}
.margin-left-10 {
    margin-left: 10px;
    border-radius: 10px 10px 10px 10px;
}
.margin {
    margin-left:15px; 
}
.margin1{
    margin-left: 30px;
}
h1, .PCV {
    margin-left: 30px;
}
