
#infos{
   display: flex;
   background-color:#F2F2F2;
   justify-content: space-around;
}
.logement {
    display:flex;
    flex-wrap: wrap;
    background-color: #F2F2F2;
}

.filtres{
    margin: 5px;
}
.client{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    color:#0065FC;
    text-decoration: overline;
}
#client{
    display: flex; 
}
#monument{
    display:flex;
}
#hebergement{
    display: flex;
    flex-direction: row;
}
section{
    display: flex;
    flex-direction: row;
    margin-right: auto;
}
body{
    font-family: Raleway,trebuchet MS, sans-serif;
    margin: 20px;
}
#villes{
    display: flex;
    margin: 20px;
}
.reservia{
    display: flex;
}
.bouton{
    margin: 20px;

}
.next{
    border-radius: 10px 10px 10px 10px;
    color: #0065FC;
}
.btn-group{
    border-radius: 10px 10px 10px 10px;
}
.button{
    border-radius: 10px 10px 10px 10px;
}
#populaires{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #F2F2F2;
}