
#infos{
   display: flex;
   background-color:#F2F2F2;
   justify-content: space-around;
}
.logement {
    display:flex;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    width: 90%;
}

.filtres{
    margin: 5px;
}
.client{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    color:#0065FC;
    text-decoration: overline;
}
#client{
    display: flex;
}
#monument{
    display:flex;
    flex-direction: row;
    width: 100%;
}
#hebergement{
    display: flex;
    flex-direction: row;
}
section{
    display: flex;
    flex-direction: row;
    margin-right: auto;
}
body{
    font-family: Raleway,trebuchet MS, sans-serif;
    margin: 20px;
}
#villes{
    display: flex;
}
.reservia{
    display: flex;
}
.next{
    border-radius: 10px 10px 10px 10px;
    color: #0065FC;
}
.btn-group{
    border-radius: 10px 10px 10px 10px;
    margin: 10px;
}
.button{
    border-radius: 10px 10px 10px 10px;
    margin: 10px;
}
#populaires{
    flex-direction: column;
    justify-content: flex-end;
    background-color: #F2F2F2;
    float: left;
}
.card1 {
    flex-grow: 2 !important;
}
.card2 {
    flex-grow: 1 !important;
}
.lot1, .lot2 {
    display: flex;
    justify-content: space-around;
}
.meilleur {
    display: flex;
}
